<h1>Cars</h1>

<%= @cars.each do |car| %>
<p>
  <a href="/client/cars/#{car['id']}"><%= car["user_id"] %></a>
  <%= car["year"] %> 
  <%= car["make"] %> 
  <%= car["model"] %>
  <%= car["mileage"] %>
</p>
<% end %>


<!-- in navbar add link that takes them to car new page -->