<h1>Cars</h1>

<% @cars.each_with_index do |car, index| %>
  <div>
    <h3>Car # <%= index + 1 %></h3>
    <h5><%= car["year"] %> <%= car["make"] %> <%= car["model"] %> </h5>
    <h5>Mileage: <%= car["mileage"] %></h5>
  </div>
  <a class="btn btn-primary" href="/client/cars/<%= car['id'] %>">Maintenance History for Car # <%= index + 1 %></a>
  <br>
<% end %>


