<h2><%= @car["name"] %></h2>
<h4>User Id: <%= @car["user_id"] %></h4>
<h4>Year: <%= @car["year"] %></h4>
<h4>Make: <%= @car["make"] %></h4>
<h4>Model: <%= @car["model"] %></h4>
<h4>Mileage: <%= @car["mileage"] %></h4>

<br>



<a href="/client/cars/<%= @car['id'] %>/edit">Edit</a>
<a href="/client/cars/<%= @car['id'] %>" data-method="delete">Delete</a>