
<h4>Year: <%= @car["year"] %></h4>
<h4>Make: <%= @car["make"] %></h4>
<h4>Model: <%= @car["model"] %></h4>
<h4>Mileage: <%= @car["mileage"] %></h4>
<br>

<br>
<div class="row">
  <% @car['maintenance_events'].each do |maintenance_event| %>
    <div class="col-md-4">
      
      <div class="thumbnail service-card">
        <a href="/client/maintenance_events/<%= maintenance_event['id'] %>" class="card-header"><%= maintenance_event["formatted_time"] %></a>
        <div class="card-body text-info">
          <h5 class="card-title">Provider: <%= maintenance_event["provider"] %></h5>
          <h5 class="card-title">Price: <%= number_to_currency(maintenance_event["price"]) %></h5>
          <ul class="card-text">
            <% maintenance_event['services'].each do |service| %>
              <li>Service Performed: <%= service["name"] %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  <% end %>
</div>


<a href="/client/cars/<%= @car['id'] %>/edit">Edit</a>
<a href="/client/cars/<%= @car['id'] %>" data-method="delete">Delete</a>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => 'client/maintenance_events/new', locals: {maintenance_events: @car['maintenance_events']} %>


