<h1>Car Parts</h1>

<%= @car_parts.each do |car_part| %>
<p>
  <%= car_part["maintenance_event_id"] %> 
  <%= car_part["price"] %> 
  <%= car_part["part_number"] %> 
  <%= car_part["date"] %>
</p>
<% end %>


