<h1>Services</h1>

<%= @services.each do |service| %>
<p>
  <%= service["name"] %> 
  <%= service["mileage_marker"] %> 
  <%= service["time_marker"] %> 
  <%= service["time_increment"] %>
</p>
<% end %>
