<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag "/client/maintenane_events", method: :post do %>
  <div>
    Provider: <input type="text" name="provider" value="<%= @maintenane_event['provider'] %>" />
  </div>
  <div>
    Price: <input type="text" name="price" value="<%= @maintenane_event['price'] %>" />
  </div>
  <div>
    Date: <input type="text" name="date" value="<%= @maintenane_event['date'] %>" />
  </div>
  <div>
    Car Id: <input type="text" name="car_id" value="<%= @maintenane_event['car_id'] %>">
  </div>
  <input type="submit" name="" value="Create Car Part" />
<% end %>