<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag "/client/maintenance_events", method: :post do %>
  <div>
    Provider: <input type="text" name="provider" value="<%= @maintenance_event['provider'] %>" />
  </div>
  <div>
    Price: <input type="text" name="price" value="<%= @maintenance_event['price'] %>" />
  </div>
  <div>
    Date: <input type="text" name="date" value="<%= @maintenance_event['date'] %>" />
  </div>
  <div>
    
  </div>
  <input type="submit" name="" value="Create Maintenance Event" />
<% end %>