<h2><%= @maintenance_event["name"] %></h2>
<h4>Date: <%= @maintenance_event["date"] %></h4>
<h4>Provider: <%= @maintenance_event["provider"] %></h4>
<h4>Price: <%= @maintenance_event["price"] %></h4>
<h4>Mileage: <%= @maintenance_event["mileage"] %></h4>

<br>


<a href="/client/maintenance_events/<%= @maintenance_event['id'] %>/edit">Edit</a>
<a href="/client/maintenance_events/<%= @maintenance_event['id'] %>" data-method="delete">Delete</a>